:root {
  --color-primary: #1e202b;
  --color-secondary: #019ad8;
}
body {
  color: #bfc1c8;
}
main {
  background-color: var(--color-primary);
  min-height: 100vh;
}
.navbar i {
  color: var(--color-secondary);
}
.app-name .sub-title {
  font-size: 12px;
}
.navbar-nav .nav-link {
  color: white;
  font-size: 15px;
  margin-left: 10px;
}
.navbar-nav .nav-link.active {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}
.navbar-nav .nav-link:hover {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}
.app-hero {
  background-image: url('../imges/banner\ \(1\).png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}

.input-group input {
  background-color: var(--color-primary);
  width: 100%;
  padding: 14px 28px;
  color: white;
  border-radius: 30px !important;
  position: relative;
  border: none;
}

.input-group .form-control:hover,
.input-group .form-control:active,
.input-group .form-control:target,
.input-group .form-control:focus {
  background: var(--color-primary);
  z-index: 0;
  box-shadow: none;
  color: white;
}

.input-group .btn {
  margin: 0;
  z-index: 2;
  color: white;
  padding: 8px 26px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 30px !important;
}

.card-section {
  padding: 48px 0;
}
.card-section .card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
  background-color: var(--color-primary);
}

.card-section .card .card-header {
  background-color: #2e303d;
  color: #bfc1c8;
}

.card-section .card .card-body {
  background-color: #333543;
  color: white;
}

.forecast-custom {
  color: var(--color-secondary);
}
.forecast-details span {
  margin-right: 20px;
  color: #bfc1c8;
}
.forecast-details span i {
  margin-right: 5px;
}

.footer {
  padding: 48px 0;
  background: #262936;
}
.fa-brands {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  text-align: center;
  line-height: 2;
  font-size: 16px;
  transition: all 0.2s;
}

.fa-brands:hover {
  background: #009ad8;
  color: white;
}

.footer-copyright {
  font-size: 14px;
}
.footer {
  background-color: #272936;
}
.card-section .row {
  margin-top: -200px;
}

.card-section .row div:nth-child(2) .card-body {
  background-color: #262936;
}

.sub-nav {
  background-color: #272936;
}

.sub-nav a:hover {
  border-bottom: 1px solid gray;
}
.content-card {
  background-color: #272936;
  color: #b4b4b4;
}

.content-card .card-body span {
  font-size: 14px;
}
.content-card .card-body i {
  color: var(--color-secondary);
}
.content-num i {
  margin-right: 8px;
}

.contact-form p {
  font-size: 14px;
  color: #bfc1c8;
}
.contact-form .form-control {
  background-color: var(--color-primary);
  border-radius: 15px;
  border: 2px solid #393c48;
}

.form-control::placeholder {
  color: #666666;
  font-size: 14px;
}

.contact-form .form-control:hover,
.contact-form .form-control:active,
.contact-form .form-control:target,
.contact-form .form-control:focus {
  background: var(--color-primary);
  border: 2px solid var(--color-secondary);
  z-index: 0;
  box-shadow: none;
  color: white;
}
.contact-form button {
  background-color: var(--color-secondary);
  color: white;
  border-radius: 15px;
}
